:root {
  --link-color: #2196F3;
  --logo-color: #000000;
  --main-color: #212121;
  --text-color: #757575;
  --only-color: #FFFFFF;
  --bg-color: #2F303A;
  --team-color: #F5F4FA;
  --two-color: rgba(255, 255, 255, 0.60);
}

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.raleway-uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}


/* ТЕКСТ В HEADER */
.container {
  max-width: 1200px;
  padding: 0 15px; 
  margin: 0 auto;
  outline: 1px solid red;
}

.heading {
  display: flex;
   padding-top: 10px;
  padding-bottom: 10px;
}

.heading .container {
  display: flex;
  align-items: center;
}

.heading-nav {
  text-decoration: none;
  display: none;
}

.heading-logo {
 color: var(--logo-color);
font-family: Raleway;
font-size: 24px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.72px;
margin-right: auto;
}

.heading-span {
  color: var(--link-color);
}

.heading-list {
  display: flex;
  gap: 50px;
}

.heading-link {
  position: relative;
  color: var(--main-color);
   font-size: 14px;
    font-weight: 500;
     line-height: 1.14;
      letter-spacing: 0.28px;
}

.heading-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 4px;
  background-color: var(--link-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms;
}

.heading-link:hover::after {
  opacity: 1;
}

.heading-link:hover {
  color: var(--link-color);
}

.heading-spisok {
    display: none;
     margin-left: auto;
}

.heading-adress {
  color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.heading-adress:hover {
  color: var(--link-color);
}

/* HERO */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
   background-color : var(--bg-color);
   text-align: center;
}

.hero-title {
color: var(--only-color);
text-align: center;
font-size: 26px;
line-height: 1.36;
font-weight: 900;
letter-spacing: 1.56px;
text-transform: uppercase;
width: 100%;
margin: 0 auto;
margin-bottom: 30px;
}

.hero-button {
  width: 200.0px;
  color: var(--only-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
border: none;
padding: 10px 32px;
}

/* ADVANTAGES */
.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
}

.advantages-list {
    /* display: flex; */
    gap: 30px;
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr;
}


.advantages-title {
    margin-bottom: 10px;
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;

}

.advantages-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

/* SERVICES */
.perspectief {
  padding-bottom: 94px;
  display: none;
}

.perspectief-list {
  display: flex;
  gap: 30px;
}

.perspectief-title {
  color: var(--main-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.perspectief-photo {
  width: 370.0px;
height: 294.0px;
}

/* TEAM */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
 background-color: var(--team-color);
}

.team-list {
  /* display: flex; */
  gap: 30px;
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 100%;
}

.team-div {
   background-color: var(--only-color);
  padding-top: 30px;
padding-bottom: 30px;
}

.team-detitle {
  color: var(--main-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 1.08px;
margin-bottom: 50px;
}


.team-title {
  color: var(--main-color);
text-align: center;
font-size: 28px;
font-weight: 500;
line-height: 1.19;
letter-spacing: 0.84px;
margin-bottom: 30px;
}

.team-text {
  color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.48px;
}

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
   background-color : var(--bg-color);
}

.footer-span {
     color: var(--link-color);
}

 .footer-link {
  display: inline-block;
  color: var(--only-color);
  font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.78px;
margin-bottom: 20px;
 }

 .footer-item:first-child .footer-contact {
   display: inline-block;
  color: var(--only-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
margin-bottom: 9px;
 }  

 .footer-item:nth-child(2) .footer-contact {
  color: var(--two-color);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-bottom: 9px;
}

.footer-item:last-child .footer-contact {
  color: var(--two-color);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}

.footer-box {
  text-align: center;
}

/* ================== ANIMATIONS ================== */

/* Hero title */
.hero-title {
    animation: heroTitle 1s ease;
}

@keyframes heroTitle {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Logo */
.heading-logo:hover {
    animation: logoRotate .7s;
}

@keyframes logoRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Team cards */
.team-items:hover {
    animation: teamCard .5s forwards;
}

@keyframes teamCard {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Portfolio cards */
.item:hover {
    animation: portfolioAnim .5s forwards;
}

@keyframes portfolioAnim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

/* ================= Декоративна лінія ================= */

.product-title {
    position: relative;
    display: inline-block;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: #D23166;
}

/* МОБІЛКА */


@media (min-width:480px) {
.container{
  width:480px
}
.hero-title {
width: 360px;
}
}

/* ПЛАНШЕТ */

@media (min-width:768px) {
  .container{
    width: 768px;
  }
.heading {
  display: flex;
   padding-top: 21px;
  padding-bottom: 21px;
}
.heading-logo {
  font-size: 24px;
  letter-spacing: 0,72;
  margin-right: 88px;
}
.heading-nav {
  display: block;
  }
  .heading-spisok {
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.advantages-list {
  grid-template-columns: repeat(2,1fr);
}

.team-list {
  grid-template-columns:repeat(2,1fr) ;
}
}


/* ДЕСТОП */

@media (min-width:1200px) {
  .container{
    width: 1200px;
  }
  .heading {
  display: flex;
   padding-top: 24px;
  padding-bottom: 25px;
}
.heading-logo{
font-size: 26px;
letter-spacing: 0.78px;
margin-right: 93px;
}

.heading-spisok {
     flex-direction: row;
     gap: 30px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
font-size: 44px;
line-height: 1.36;
letter-spacing: 2.64px;
width: 696px;
}

.hero-button {
  width: 216px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
   grid-template-columns: repeat(4,1fr);
}

.perspectief {
  display: block;
}

.team {
   padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
  letter-spacing: 1.08px;
  font-size: 36px;
}

.team-list {
  grid-template-columns: repeat(4,1fr);
}

.footer-box {
  text-align: start;
}
}



/* Портфоліо */

/* Hero */
.portfolio {
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-button {
    color: #212121;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.63;
letter-spacing: 0.48px;
border-radius: 4px;
background: #F5F4FA;
}

.portfolio-span {
font-size: 16px;
padding: 6px 25px;
}

.portfolio-button:hover {
    background-color: #2196F3;
    color: #FFF;
}

.portfolio-spisok {
     display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
}

.item {
    outline: 1px solid #EEE;
background: #FFF;
width: 370px;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 40px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;

    font-size: 20px;
    line-height: 1.5;

    transform: translateY(100%);
    transition: transform 250ms ease;
}

.item:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-photo {
  display: block ;
width: 100%;
height: auto;
}

.portfolio-bg {
padding: 20px 24px 20px 24px ;
}

.all-title {
    color: #212121;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
margin-bottom: 4px;
}

.all-text {
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 1.88px;
letter-spacing: 0.48px;
margin-top: 4px;
}